{% extends 'common/base.html' %}

{% block content %}

<!DOCTYPE html>
<div class="container">
    <h1>Soutenance IUT'O</h1>

    <h2>Tableau 1</h2>
    <table border="1" class="table">
        <thead>
            <tr>
                <th>Colonne 1</th>
                <th>Colonne 2</th>
                <th>Colonne 3</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Donnée 1.1</td>
                <td>Donnée 1.2</td>
                <td>Donnée 1.3</td>
            </tr>
        </tbody>
    </table>

    <h2>Tableau 2</h2>
    <table border="1" class="table">
        <thead>
            <tr>
                <th>Colonne A</th>
                <th>Colonne B</th>
                <th>Colonne C</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Donnée A1</td>
                <td>Donnée B1</td>
                <td>Donnée C1</td>
            </tr>
            
        </tbody>
    </table>
</div>
{% endblock %}
