{% extends 'common/base.html' %}

{% block content %}
<div class="jumbotron mt-4 bg-light shadow-sm rounded">
  <h1>{{ question }}</h1>
  <hr class="my-4">
  <p class="lead">Soutenance de {{ soutenance.stg_alt.etudiant.nom_etu }} {{ soutenance.stg_alt.etudiant.prenom_etu }}</p>
  <p class="lead">Le {{ soutenance.horaire.dt_date }} à {{ soutenance.horaire.heure }} dans la salle {{ soutenance.salle.nom_salle }}</p>
  <p class="lead">Entreprise: {{ soutenance.stg_alt.entreprise.nom_etp }}</p>

  <form action="{% url url_form soutenance.id_sout %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Confirmer</button>
    <a href="{% url 'professeur_soutenances_without_candides' %}" class="btn btn-secondary">Annuler</a>
  </form>
{% endblock %}
