{% extends 'common/base.html' %}

{% block content %}
<div class="jumbotron bg-light shadow-sm rounded">
    <h1 class="display-4">Les stages</h1>
    <hr class="my-4">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Etudiant</th>
            <th>Titre</th>
            <th>Thème</th>
            <th>Dates</th>
            <th>Entreprise</th>
        </tr>
        </thead>
        <tbody>
        {% for stage in stages %}
            <tr>
            <td>{{ stage.etudiant.nom_etu }} {{ stage.etudiant.prenom_etu }}</td>
            <td>{{ stage.titre_stg_alt }}</td>
            <td>{{ stage.theme_stg_alt }}</td>
            <td>{{ stage.dt_date_debut_stg_alt }} - {{ stage.dt_date_fin_stg_alt }}</td>
            <td>{{ stage.entreprise.nom_etp }}</td>
            {% if inscriptions.count == 0 %}
                <td>
                    <a href="{% url 'stage_inscription' id_stage=stage.id_stg_alt %}" class="btn btn-success">Inscription</a>
                </td>
            {% endif %}
            {% for inscription in inscriptions %}
                {% if inscription.stg_alt.id_stg_alt == stage.id_stg_alt %}
                    <td>
                        <a href="{% url 'stage_desinscription' id_stage=stage.id_stg_alt %}" class="btn btn-danger">Désinscription</a>
                    </td>
                {% else %}
                    <td>
                        <a href="{% url 'stage_inscription' id_stage=stage.id_stg_alt %}" class="btn btn-success">Inscription</a>
                    </td>
                {% endif %}
            {% endfor %}
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if nb_pages != 1 %}
        <nav aria-label="Page navigation" class="mt-4 d-flex justify-content-center mb-0">
            <ul class="pagination">
                {% if page == 1 %}
                    <li class="page-item disabled">
                        <a class="page-link">Précédent</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{% url url page=previous_page %}">Précédent</a>
                    </li>
                {% endif %}
                {% for i in range %}
                    {% if i == page %}
                        <li class="page-item active"><a class="page-link">{{ i }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{% url url page=i %}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page == nb_pages %}
                    <li class="page-item disabled">
                        <a class="page-link">Suivant</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{% url url page=next_page %}">Suivant</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
</div>
{% endblock %}