{% extends 'common/base.html' %}

{% block content %}
<div class="jumbotron bg-light shadow-sm rounded">
    {% if url == "professeur_soutenances_without_candides" %}
        <h1 class="display-4">Liste des soutenances sans candides</h1>
    {% else %}
        <h1 class="display-4">Mes soutenances</h1>
    {% endif %}
    <hr class="my-4">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Etudiant</th>
            <th></th>
            <th>Tuteur IUT</th>
            <th>Candide IUT</th>
            <th>Date</th>
            <th>Heure</th>
            <th>Salle</th>
            <th>Entreprise</th>
            <th>Tuteur entreprise</th>
        </tr>
        </thead>
        <tbody>
        {% for soutenance in soutenances %}
            <tr>
            <td>{{ soutenance.stg_alt.etudiant.nom_etu }} {{ soutenance.stg_alt.etudiant.prenom_etu }}</td>
            <td>
                {% for promo in est_dans_promotion %}
                    {% if promo.etudiant == soutenance.stg_alt.etudiant %}
                        {{ promo.promotion.filiere_promo }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>{{ soutenance.stg_alt.tuteur_univ.nom_prof }} {{ soutenance.stg_alt.tuteur_univ.prenom_prof }}</td>
            <td>
                {% if soutenance.prof_candide %}
                {{ soutenance.prof_candide.nom_prof }} {{ soutenance.prof_candide.prenom_prof }}
                {% else %}
                Aucun
                {% endif %}
            </td>
            <td>{{ soutenance.horaire.dt_date }}</td>
            <td>{{ soutenance.horaire.heure }}</td>
            <td>{{ soutenance.salle.nom_salle }}</td>
            <td>{{ soutenance.stg_alt.entreprise.nom_etp }}</td>
            <td>{{ soutenance.stg_alt.tuteur_pro.civilite_tut_pro }} {{ soutenance.stg_alt.tuteur_pro.nom_tut_pro }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if nb_pages != 1 %}
        <nav aria-label="Page navigation" class="mt-4 d-flex justify-content-center mb-0">
            <ul class="pagination">
                {% if page == 1 %}
                    <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{% url url page=previous_page %}">Précédent</a>
                    </li>
                {% endif %}
                {% for i in range %}
                    {% if i == page %}
                        <li class="page-item active"><a class="page-link">{{ i }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{% url url page=i %}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page == nb_pages %}
                    <li class="page-item disabled">
                        <a class="page-link">Next</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{% url url page=next_page %}">Suivant</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
</div>
{% endblock %}