{% extends 'common/base.html' %}

{% block content %}
<div class="jumbotron mt-4 bg-light shadow-sm rounded">
    <h1 class="display-4">Liste des soutenances</h1>
    <hr class="my-4">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Etudiant</th>
            <th></th>
            <th>Tuteur IUT</th>
            <th>Candide IUT</th>
            <th>Date</th>
            <th>Heure</th>
            <th>Salle</th>
            <th>Entreprise</th>
            <th>Tuteur entreprise</th>
        </tr>
        </thead>
        <tbody>
        {% for soutenance in soutenances %}
            <tr>
            <td>{{ soutenance.stg_alt.etudiant.nom_etu }} {{ soutenance.stg_alt.etudiant.prenom_etu }}</td>
            <td>
                {% for promo in est_dans_promotion %}
                    {% if promo.etudiant == soutenance.stg_alt.etudiant %}
                        {{ promo.promotion.filiere_promo }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>{{ soutenance.stg_alt.tuteur_univ.nom_prof }} {{ soutenance.stg_alt.tuteur_univ.prenom_prof }}</td>
            <td>
                {% if soutenance.prof_candide %}
                {{ soutenance.prof_candide.nom_prof }} {{ soutenance.prof_candide.prenom_prof }}
                {% else %}
                Aucun
                {% endif %}
            </td>
            <td>{{ soutenance.horaire.dt_date }}</td>
            <td>{{ soutenance.horaire.heure }}</td>
            <td>{{ soutenance.salle.nom_salle }}</td>
            <td>{{ soutenance.stg_alt.entreprise.nom_etp }}</td>
            <td>{{ soutenance.stg_alt.tuteur_pro.civilite_tut_pro }} {{ soutenance.stg_alt.tuteur_pro.nom_tut_pro }}</td>
            <td>
                <a href="{% url 'soutenance_update_secretaire' id_sout=soutenance.id_sout %}" class="btn btn-warning">Modifier</a>
                <a href="{% url 'soutenance_delete_secretaire' id_sout=soutenance.id_sout %}" class="btn btn-danger">Supprimer</a>
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'soutenance_create_secretaire' %}" class="btn btn-success">Ajouter une soutenance</a>
</div>
{% endblock %}